node_modules
.vscode
**/dist/**
.next/
i18next.d.ts
.yalc
coverage
.idea
.run
.swc
.vercel
setup.js
lambdas
cache
abis
artifacts
packages/core-contracts/lib/**
packages/voting-decay/lib/**
packages/dutch-auction/lib/**
**/.sst/**
**/.turbo/**
packages/**/src/generated
packages/**/types/generated
apps/**/types/generated/*