@import "tailwindcss";

@theme {
  --color-primary: #135bec;
  --color-background-light: #f6f6f8;
  --color-background-dark: #101622;
  --font-display: var(--font-manrope), ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-background-light text-slate-900 font-display;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(19, 91, 236, 0.1);
  border-radius: 10px;
}